body {
  
    font-family:'Montserrat', sans-serif;
    color:black;
}

a:link {color:#FFF000; text-decoration: none;}
a:visited {color:#FFF000; text-decoration: none;}
a:hover {color:#FFF000; text-decoration: none;} 

h1 {font-family:'Montserrat', sans-serif; letter-spacing:5px;color:black;font-size: 32px;}

p {font-family:'Montserrat', sans-serif; color:black; font-size:190%; margin-left:2%; margin-right:3%}
footer {font-family:'Montserrat', sans-serif; color:black; font-size:100%;}


.news-box {
position: fixed;
}

.news-box img {
width: 100%;
}

#news
{
width: 40%;
top: 13.5%;
left:30%;
background-image:url(background-trans.png);
}

#news2a
{
width: 35%;
top: 10%;
left:12%;
background-image:url(background-trans.png);
}

#news2b
{
width: 35%;
top: 30%;
right:12%;
background-image:url(background-trans.png);
}

#news2c
{
width: 3%;
top: 75%;
left:35%;
background-image:url(background-trans.png);
}

#news3a
{
width: 30%;
top: 5%;
left:5%;
background-image:url(background-trans.png);
}

#news3b
{
width: 30%;
top:20%;
right:5.5%;
background-image:url(background-trans.png);
}

#news3c
{
width: 30%;
top: 40%;
left:35%;
background-image:url(background-trans.png);
}

#collective-editing {
    position: relative;
    margin-left: 1.3%; 
}

#collective-editing div.comment, #collective-editing form.comment-form {
    position: absolute;   
}

#collective-editing form.comment-form {
    width: 170px;    
}

.red  {
    color: #ff2a2a; 
    text-decoration: none;    
}

.legend 
{ 
font-family:'Montserrat', sans-serif;
font-size: 100%; 
text-align: center;
}

.text
{ 
font-family:'Montserrat', sans-serif;
font-size: 50%; 
}


.bloc {
	width:170px ;
	background-color : white;	
	border: 2px solid #000000;
	padding: 15px;
	}
	

.comment
{ 
font-family:'Montserrat', sans-serif;
font-size: 100%; 
color: #FFF000
}

.comment-form
{
	background-color : white;	
	border: 2px solid #000000;
	padding: 10px;
	}

.center
{
display: block;
margin: 0 auto; 
height: 600px;
width: 600px;
}

.center2
{
display: block;
margin: 0 auto; 
}

.doublepages
{
display: block;
margin-left: 1px; 
}


.va-middle {
vertical-align: middle;
}


span.dropt {text-decoration: none;color:#FFF000}
span.dropt:hover {text-decoration: none;color:#FFF000}
span.dropt span {position: absolute; left: -9999px;
  margin: 20px 0 0 0px; padding: 3px 3px 3px 3px;
  z-index: 6;}
span.dropt:hover span {left: 2%;} 
span.dropt span {position: absolute; left: -9999px;
  margin: 4px 0 0 0px; padding: 3px 3px 3px 3px; }
span.dropt:hover span {margin: 20px 0 0 170px; background: #ffffff; z-index:6;} 


span.box {text-decoration: none;color:#FFF000}
span.box:hover {text-decoration: none;color:#FFF000}
span.box span {position: relative; left: -9999px;
  margin: 20px 0 0 0px; padding: 3px 3px 3px 3px;
  z-index: 6;}
span.box:hover span {left: 2%;} 
span.box span {position: relative; left: -9999px;
  margin: 4px 0 0 0px; padding: 3px 3px 3px 3px; }
span.box:hover span {margin: 20px 0 0 170px; background: #ffffff; z-index:6;}
    
}
