body {
  
    font-family:'Montserrat', sans-serif;
    color:black;
}

a:link {color:#FFFF00; text-decoration: none}
a:visited {color:#FFFF00; text-decoration: none}
a:hover {color:#FFFF00; text-decoration: none} 

h1 {font-family:'Montserrat', sans-serif; letter-spacing:5px;color:black;font-size: 32px;}

p {font-family:'Montserrat', sans-serif; color:black; font-size:190%; margin-left:2%; margin-right:3%}
footer {font-family:'Montserrat', sans-serif; color:black; font-size:100%;}

#news
{
position: fixed;
width: 40%;
top: 20%;
left:30%;
background-image:url(background-trans.png);
}

#news img {
    width: 100%;
  
}


.legend 
{ 
font-family:'Montserrat', sans-serif;
font-size: 100%; 
text-align: center;
}

.center
{
display: block;
margin: 0 auto; 
height: 600px;
width: 600px;
}

.center2
{
display: block;
margin: 0 auto; 
}

.va-middle {
vertical-align: middle;
}

span.dropt {text-decoration: none;color:#FFFF00}
span.dropt:hover {text-decoration: none;color:#FFFF00}
span.dropt span {position: absolute; left: -9999px;
  margin: 20px 0 0 0px; padding: 3px 3px 3px 3px;
  z-index: 6;}
span.dropt:hover span {left: 2%;} 
span.dropt span {position: absolute; left: -9999px;
  margin: 4px 0 0 0px; padding: 3px 3px 3px 3px; }
span.dropt:hover span {margin: 20px 0 0 170px; background: #ffffff; z-index:6;} 

    
}
