
@font-face {
    font-family:'Crimson';
    src: url("font/CrimsonText-Roman.ttf");
    font-style: normal;
}

@font-face {
    font-family:'Crimson';
    src: url("font/CrimsonText-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family:'Crimson';
    src: url("font/CrimsonText-Semibold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family:'Crimson';
    src: url("font/CrimsonText-SemiboldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family:'Charis';
    src: url("font/CharisSIL-R.ttf");
    font-style: normal;
}

@font-face {
    font-family:'Charis';
    src: url("font/CharisSIL-I.ttf");
    font-style: italic;
}
/* SEE FBSP.JS router section */
body.platform {
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
    padding: 12px;
    background-color: #FFF000;
}
body.platform a, body.platform a:link, body.platform a:hover, body.platform a:visited {
    color: black;
}

.shout {
    font-family: 'Montserrat-contre';
    font-style: italic;
}

.italic {
    font-family: 'Montserrat';
    font-style: italic;
}

.title {
    font-family: 'Crimson';
    font-style: normal;
    font-weight: bold;
    text-align: center;
    letter-spacing: 10px;
    word-spacing: 5px;
    font-size: 20px;
    margin-bottom: 20px;
}

.legend-italic {
    font-family: 'Charis';
    font-style: italic;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 20px;
    line-height: 24px;
}

.legend-platform {
    font-family: 'Charis';
    font-style: normal;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 20px;
    line-height: 24px;
}

.charis {
    font-family: 'Charis';
    font-style: normal;
    font-size: 30px;
    line-height: 35px;
}

.charis-italic {
    font-family: 'Charis';
    font-style: italic;
    letter-spacing: 2px;
    font-size: 30px;
    line-height: 35px;
}

#container {
    float: left;
}

#toolbox {
    margin: 12px 12px 12px 12px;
    width: 78px;
}

img.big {
    width: 468px;
}

img.small {
    width: 210px;
}

#table1 {
    background-color: white;
    border: 3px solid #000000;
    border-collapse: collapse;
}

#table1 td {
    border: 3px solid #000000;
}


.box {
    margin: 12px;
    padding: 10px 8px 12px 12px;
    border: 3px solid #000000;
    box-shadow: 5px 5px 5px black;
    float: left;
    width: 882px;
    background-color: white;
}
.box-theme {
    margin: 12px;
    padding: 8px 8px 8px 12px;
    border: 3px solid #000000;
    background-color: white;
    width: 366px;
    float: left;
}
.box-element {
    margin: 12px;
    padding: 8px 8px 8px 12px;
    border: 3px solid #000000;
    background-color: white;
    width: 610px;
    float: left;
}

.projects {
    width: 210px;
    float: left;
}
.tools {
    width: 468px;
    float: left;
}
.intro {
    width: 366px;
    float: left;
}

.box-map {
    float: left;
}

.item {
  width: 220px;
  margin: 10px;
  float: left;
}

.col1 {
    width: 54px;
    float: left;
}
.col-intro {
    width: 366px;
    float: left;
}
.col-small {
    width: 210px;
    float: left;
}
.col-big {
    width: 468px;
    float: left;
}
.col-giant {
    width: 882px;
    float: left;
    padding: 10px 30px 12px 12px;
}


/**** Clearfix ****/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/**** mouseover on the toolbox ****/
span.dropt-tool span {
    position: absolute;
    display: none;
    padding: 1px 3px 1px 4px;
    border-style:solid;
    border-color:black;
    border-width:3px;
}
span.dropt-tool:hover span {
    display: initial;
    left: 40px;
    margin: 30px 0 0 25px;
    background: #ffffff;
    z-index:6;
}
span.dropt-tool2 span {
    position: absolute;
    display: none;
    padding: 1px 3px 1px 4px;
    border-style:solid;
    border-color:black;
    border-width:3px;
}
span.dropt-tool2:hover span {
    display: initial;
    left: 40px;
    margin: 30px 0 0 65px;
    background: #ffffff;
    z-index:6;
}



